@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100&display=swap');
body {
  background-color :#f76930;
  display:inline-flex;
}

.container {
  margin: 0px auto 0px;
}

.homepic {
  font-family:'Trebuchet MS';
  font-size: 40px;
  font-weight:bold;
  color:black;
  margin-top: 00px;
  margin-left: 00px;
  margin-right: 200px;
  margin-bottom: 0px;
  display:flex;
  justify-content: stretch; 
}

header {
  font-family: "Prompt";
  background-color: #603a70;
  margin: 0px auto 0px;
  padding: 10px 0;
}

header .logo {
  font-size: 40px;
  color:white;
  margin: 25px;
  margin-left: 50px;
  margin-right: 20px;
  display:flex;
  justify-content: space-between; 
  align-items: center;
  line-height: 0px;
}

header .name {
  font-size: 25px;
  color:white;
  display:flex;
  justify-content: right; 
  margin-right: 150px;
  align-items: initial;
  line-height: 2px; 
}

footer {
  font-family: "Prompt";
  background-color: #603a70; 
  display: block;
  text-align: center;
  padding: 0px 0;
  margin: 0px;

}

footer .about {
  font-size: 35px;
  font-weight:bolder;
  color:white;
  justify-content: center; 
  padding-top: 25px;
}

footer .aboutinfo {
  font-size:25px;
  color:white;
  padding-bottom: 25px;
}

footer .member {
  background-image: url('../public/member.jpg');
  margin : 0px;
  display:flex;
  justify-content: space-around; 
  padding: 13px;
}

footer .membername {
  font-weight:bolder;
  background-image: url('../public/member.jpg');
  font-size: 30px;
  color:black;
  align-items:stretch;
  margin : 0px;
  text-align:inherit;
  text-overflow: ellipsis;
  display:flex;
  justify-content: space-evenly; 
}
